*{
    padding:0px;
     margin:0px;
     box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background:#000000;
    color:#FEFEFE;
    overflow-x: hidden !important;
    background:url('img/Rectangle\ 1.svg');
    background-position-x: 100%;
    background-color: #000;
    background-repeat: no-repeat;
}

.container{
    overflow-x:hidden !important;
}

.nav-bar{
    height:4rem;
    /* background:#000000; */
    /* position: fixed; */
}

.nav{
    justify-content: center;
    align-items: center;
    padding:1rem;
}

ul li{
    list-style: none;
}

.hamburger{
    position: fixed;
    top:7%;
    left:82%;
    z-index: 10;
}

.menu{
    height:3px;
    width:2.5rem;
    background:#fff;
    border-radius:20%;
    position:absolute;
    transition:0.7s;
}

.menu::before, .menu::after{
    content:'';
    position:absolute;
    height:3px;
    width:2.5rem;
    background:#fff;
    border-radius:20%;
    transition:0.7s;
}

.menu::before{
    transform: translateY(-12px);
}

.menu::after{
    transform: translateY(12px);
}

nav.open .menu{
    transform:translateX(-30px);
    transition:0.7s;
    background:transparent;
}

nav.open .menu::before{
    transform:rotate(45deg) translate(15px, -15px);
    transition:0.7s;
}

nav.open .menu::after{
    transform: rotate(-45deg) translate(15px, 15px);
    transition:0.7s;
}

/* .closebtn{
    top:2%;
    left:70%;
    position:absolute;    
} */

.img-btn2{
    width:100px;
    height:100px;
}

.introduction{
    margin-bottom:10rem;
    margin-top:3rem;
}

h2{
    font-weight:bolder !important;
}

.location{
    font-size:25px;
}

button{
    background: #C4C4C4 !important;
    border-radius: 10px !important;
}

a{
    color:#fff;
}

a:hover{
    text-decoration:none;
    color:#fff;
}

.media-icons{
    position:absolute;
    top:20% !important;
    left:92%;
}

.port-col{
    padding-top:5rem !important
}

.img-col{
    padding-top:2rem !important;
}

.img-about-col{
    position:relative;
}

.img-about-col::before{
    content: '';
    display:block;
    border-bottom:1px solid white !important;
    top:100%;
    position:absolute;
    width:100%;
}

.img-about-col::after{
    content: '';
    display:block;
    border-left:1px solid white !important;
    top:30%;
    position:absolute;
    bottom:0%;
}

.about-p{
    line-height: 27px;
}

.progress{
    height:0.05rem !important;
    background: #C4C4C4;
}

.progress-bar{
    background-color:#FEFEFE !important;
    border:5px solid #FEFEFE !important;
}

h6{
    font-weight:700;
}

.service-col{
    padding-top:4rem !important;
}

.card{
    background:#000;
    border-radius: 10px !important;
}

.card-body{
    padding-top:0px !important;
}

.testimony-img{
    margin-top:-4.5rem;
}

.journal-col{
    position:relative;
}

.info-p{
    position:absolute;
    top:70%;
    left:4%;
    color:#c5c5c5;
    /* line-height: 5px; */
}

.info-p1{
    position:absolute;
    top:80%;
    left:5%;
    color:#c5c5c5;
}

input, textarea{
    border-radius:0px !important;
}

.contact-p{
    color: #C4C4C4;
}



@media screen and (max-width:768px){

    .nav li{
        margin:0.6rem 0rem;
        /* display:none; */
        transform:translateX(100px);
        transition: 0.5s !important;
    }

    .nav{
        position: fixed;
        background:#000000;
        flex-direction: column !important;
        width:0%;
        height:100vh;
        z-index: 2;
        padding:0px !important;
        transition:all 0.5s ease-in-out;
        /* margin-top:1rem; */
        right:0px !important;
    }
    
    .nav-bar{
        overflow-x: hidden !important;
    }

    .nav-bar.open .nav{
        width:100% !important;
    }

    .nav-bar.open .nav li{
        transform:translateX(0px);
        transition:all 1s ease-in-out;
    } 

    .port-img{
        width:100%;
    }

    .test-col{
        margin-top:6rem !important;
    }

    .col-md-4{
        padding-top:2rem !important;
        padding-bottom:2rem !important;
    }

    .product-col{
        border-top: 1px solid #fff !important;
        border-bottom:1px solid #fff !important;
        border-right:none !important; 
    }

    .port-col{
        padding-top:0rem !important;
        padding-bottom:0rem !important; 
   }

    .service-col, .photo{
        border-right:none !important; 
    }

    .photo{
        padding-bottom:1rem !important;
    }

    .test-col{
        margin-top:2rem !important;
    }

    .logo{
        width:30px;
        height:30px;
    }

    .client-logo{
        flex-wrap: wrap;
        justify-content:space-around !important;
    }
    .journalcol{
        padding-right:0px;
    }

    .journal-col{
        border:none !important;
    }

    .info-p{
        font-size:0.6rem
    }

}